/* .lp-creations-mobile-grid {
    display: flex;
    flex-direction: column;
} */
.lp-creations-mobile-grid-btn {
    border: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
    font-weight: 300;
    background-size: cover;
}
.earth-btn {
    background-image: url("../assets/mobile/image-deep-earth.jpg");
}
.arcade-btn {
    background-image: url("../assets/mobile/image-night-arcade.jpg");
}
.soccer-btn {
    background-image: url("../assets/mobile/image-soccer-team.jpg");
}
.grid-btn {
    background-image: url("../assets/mobile/image-grid.jpg");
}
.from-above-btn {
    background-image: url("../assets/mobile/image-from-above.jpg");
}
.borealis-btn {
    background-image: url("../assets/mobile/image-pocket-borealis.jpg");
}
.curiosity-btn {
    background-image: url("../assets/mobile/image-curiosity.jpg");
}
.fisheye-btn {
    background-image: url("../assets/mobile/image-fisheye.jpg");
}
.lp-creations-mobile-grid-btn:hover {
    filter: opacity(.4) ;
    z-index: 0;
}
.lp-creations-mobile-grid-btn:hover > .grid-btn-title {
    color: var(--black);
    z-index: 5;
    filter: none;
}
.grid-btn-title:hover {
    z-index: 2;
}


@media only screen and (max-width: 375px) {
    .lp-creations-mobile-grid {
        display: flex;
        flex-direction: column;
    }
    .lp-creations-mobile-grid-btn {
        margin: 10px 0px;
        width: 330px;
        height: 120px;
    }
    .grid-item-img {
        /* margin: 10px 0px; */
        width: 330px;
    }
    .grid-btn-title {
        text-align: left;
        margin: -10px 10px;
        position: absolute;
        font-size: 24px;
    }
    .earth-title, .arcade-title, .grid-title, .borealis-title, .curiosity-title, .fisheye-title {
        width: 100px;
    }
    .soccer-title, .from-above-title {
        width: 140px;
    }

}

@media only screen and (min-width: 376px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    
} 