.lp-footer {
    margin: 0px;
    padding: 0px;
    display: flex;
    background-color: var(--black);
}
.lp-footer-copyright {
    font-family: 'Alata', sans-serif;
    color: var(--dark-gray);
}


@media only screen and (max-width: 375px) {
    .lp-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 375px;
        height: 340px;
        padding: 60px 0px;
    }
    .lp-footer-logo {
        margin: 20px 0px 0px 0px;
        width: 148px;
    }
    .lp-footer-copyright {
        font-size: 16px;
    }
}

@media only screen and (min-width: 376px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    
} 