.lp-header {
    position: absolute;
    display: flex;
}
@media only screen and (max-width: 375px) {
    .lp-header {
        width: 335px;
        justify-content: space-between;
        align-items: center;
    }
    .lp-header {
        margin: 0px;
        padding: 40px 20px;
    }
    .lp-header-img {
        margin: 40px 0px 0px 20px;
        position: absolute;
        left: 0px;
        width: 150px;
        z-index: 2;
    }
}

@media only screen and (min-width: 376px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    
} 