.lp-mobile-navbar-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 375px) {
    .lp-mobile-navbar-btn-img {
        width: 24px;
    }
}

@media only screen and (min-width: 376px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    
} 